<div id="collection_az_links">
  <%= link_to 'All', collections_path, :class => 'col_a-z_link' %>
  <% ('A'..'Z').each do |letter| %>
      <% if ['I','K','Q','V','X','Y','Z'].include? letter %>
          <%= content_tag(:span, letter, :class => 'col_a-z_nolink') %>
      <% else %>
          <%= link_to_cols_start_with(letter) %>
      <% end %>
  <% end %>
</div>