<div id="sortAndPerPage" class="well well-sm">
  <div class="page_links">
    <%= render :partial => 'catalog/paginate_compact', :object => @response %>
  </div>

  <%# remove until date sorting more refined %>
  <%# render :partial => 'catalog/sort_widget' %>

  <%= render :partial => 'catalog/per_page_widget' %>

</div>