<label for="date_start">Start</label>
<%= text_field_tag 'date_start', nil, :class => 'input-mini', :maxlength => 4 %>
<label for="date_end">End</label>
<%= text_field_tag 'date_end', nil, :class => 'input-mini', :maxlength => 4 %>