<div class="form-group facet_item blacklight-<%= facet_field.field.parameterize %>">
  <label class="control-label"><%= facet_field.label %></label>
  <div class="controls facet_scrollbox_wrapper well">
    <div class="facet_limit_scrollbox">
      <%= yield %>
    </div>
  </div>
</div>

