<% @page_title = t('blacklight.advanced_search.title', :application_name => application_name) %>
<!--
<script type="text/javascript">
    $(document).ready(function(){$("form.advanced input:first").focus();});
</script>
-->

<div id="content" class="span12 basic-search">

  <h2><%= t('blacklight.advanced_search.page_title') %></h2>

  <ul class="nav nav-tabs">
    <li>
      <%= link_to 'Basic', catalog_index_path %>
    </li>
    <li class="active"><a href="#">Advanced</a></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="advanced_search">

      <div class="row">

        <div class="span9">

          <%= render 'advanced_search_form' %>

          <%# render 'advanced_search_help' %>

        </div>

      </div>

    </div>

  </div>

</div>