<div class="well" id="sidebar-downloads">
  <ul class="nav nav-list">
    <li class="nav-header"><%= t('blacklight.downloads.title') %></li>
    <% create_download_links(object_files, 'sidebar_downloads_link').each do |link| %>
        <li><%= link %></li>
    <% end %>
  </ul>
</div>