<div id="oai_item_link">
  <%= link_to(document[:identifier_uri_ss],
              :class => 'btn btn-info view_oai_item',
              :target => '_blank' ) do %>
      <%= t('blacklight.oai_objects.link_to_item') %> <i class="icon-share icon-white"></i>
  <% end %>
</div>