#footer {

  #footer_logo {

    #footer_logo_link {
      height: 40px;
      -moz-opacity: 0.50;
      opacity: 0.50;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

  }

}