// @import 'commonwealth-vlr-engine/cmmnwlth_defaults';

#footer {

  #footer_logo {

    #footer_logo_link {
      /* height: 40px; */
      height: 500px;
      background-color: red
      -moz-opacity: 0.50;
      opacity: 0.50;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }

  }

  #footer_address {
    color: #666666;

    #footer_social {
      float: right;
      padding-left: 10px;

      .footer_social_icon {
        padding-right: 0;

        a {
          color: #666666;
        }

      }

    }

    #footer_address_text {
      float: right;
    }

  }

}
