// styles for primary source sets

// index pages
.primary_source_sets {

}

// copied very closely from commonwealth-vlr-engine/institutions
// TODO: DRY this out at some point?
#primary_source_set_menu.collections-gallery {

  .masonry {

    &.document {
      background-color: inherit;
      padding: 5px;
      margin: 0;

      .thumbnail {
        border: 1px solid #9E9E9E;
        overflow: hidden;
        border-radius: 0.3rem;
        height: 221px;

        a {

          img { // don't remove commented-out below until further testing
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: none;
            // height: auto;
            // width: auto;
            max-height: 221px;
            max-width: 231px;
            position: relative;
            top: 109px; // would rather use 50% but doesn't work in Chrome
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);

            @media (min-width: 1200px) {
              top: 135px;
              max-height: 271px;
              max-width: 275px;
            }

            @media (max-width: 480px) {
              top: 84px;
              max-height: 170px;
              max-width: 170px;
            }

          }

        }

        .caption {
          display: block;
          left: 5px;
          right: 5px;
          width: auto;
          bottom: 5px;
          border-bottom-left-radius: 0.3rem;
          border-bottom-right-radius: 0.3rem;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 27%, rgba(0,0,0,0.45) 100%);

          h3 {
            font-size: 1rem;
            margin-bottom: 3px;
            margin-top: 3px;

            .document-counter {
              display: none;
            }

            a:hover {
              text-decoration: none;
            }

          }

        }

        @media (min-width: 1200px) {
          height: 271px;
        }

        @media (max-width: 480px) {
          height: 170px;
        }

      }

    }

  }

}