/* styles for user login pages */

#membership_login {
  border-radius: 0.25rem;
  background-color: #00000008;
  border: 1px solid #00000020;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;

  h5 {
    font-size: 16px;
  }
}