<div class="default_index_container">
  <%# use generic item index view %>
  <%= render :partial => 'catalog/_index_partials/index_grid_default_content', :locals => {:document => document, :document_counter => document_counter} %>
  <%= document[blacklight_config.show.display_type] %>
</div>