<%# default item data to show in index grid view %>

<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == 'folders' || params[:controller] == 'bookmarks' %>
    <%= check_box_tag('selected[]', document[:id]) %>
<% end %>

<div class="item_index_thumb">
  <%= link_to(create_thumb_img_element(document, %w(index_thumb)),
              url_for_document(document),
              document_link_params(document,
                                   {:counter => document_counter_with_offset(document_counter)}))
  %>
</div>
<div class="item_index_title">
  <%= link_to_document(document,
                       truncate(document[blacklight_config.index.title_field.to_sym],
                                :length => 130,
                                :separator => ' ',
                                :omission => ' ...'),
                       :counter => document_counter_with_offset(document_counter)) %>
</div>

<!--
<div class="item_index_details">
  <dl class="index_defList dl-horizontal">
    <dt>Format: </dt>
    <dd>
      <%# render_document_show_field_value(:document => document, :field => 'mods_genre_basic_tsim') %>
    </dd>
    <dt>Collection: </dt>
    <dd>
      <%# render_document_show_field_value(:document => document, :field => blacklight_config.collection_field) %>
    </dd>
  </dl>
</div>
-->