<%# default item data to show in index grid view %>

<%# create checkbox for folder actions (delete, move, etc.) %>
<% if params[:controller] == 'folders' || params[:controller] == 'bookmarks' %>
    <%= check_box_tag('selected[]', document[:id]) %>
<% end %>

<div class="item_index_thumb">
  <% if document[:exemplary_image_ssi] %>
    <% thumb = image_tag(datastream_disseminator_url(document[:exemplary_image_ssi], 'thumbnail300'),
                           :alt => document[blacklight_config.index.show_link.to_sym],
                           :class => 'index_thumb') %>
    <%= link_to thumb,
                solr_document_path(:id => document[:id]),
                :'data-counter' => (document_counter + 1 + @response.params[:start].to_i) %>
  <% end %>
</div>
<div class="item_index_title">
  <%= link_to_document(document, :label => blacklight_config.index.show_link.to_sym, :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
</div>

<!--
<div class="item_index_details">
  <dl class="index_defList dl-horizontal">
    <dt>Format: </dt>
    <dd>
      <%# render_document_show_field_value(:document => document, :field => 'mods_genre_basic_tsim') %>
    </dd>
    <dt>Collection: </dt>
    <dd>
      <%# render_document_show_field_value(:document => document, :field => blacklight_config.collection_field) %>
    </dd>
  </dl>
</div>
-->