/* Generic layout stuff */
.hide
  {
  display:none
}

/* This provides a fixed distance between the header and the main content */
body {
  padding-top: 8em;
}


@media (max-width: 979px) {
  body {
    padding-top: 0;
  }

}