<div id="slideshow" class="carousel slide carousel-fade">
  <ol class="carousel-indicators">
    <% 0.upto carousel_slides.length-1 do |index| %>
        <% if index == 0 %>
            <li class="active"></li>
        <% else %>
            <li></li>
        <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner">

    <% carousel_slides.each do |slide| %>
        <% if carousel_slides.index(slide) == 0 %>
            <% status = "item active" %>
        <% else %>
            <% status = "item" %>
        <% end %>
        <div class="<%= status %>">
          <% slide_img =  djatoka_image_tag(nonssl_image_uri(slide.image_pid,'accessMaster'),
                                            {:resolver => Rails.configuration.djatoka_resolver.base_url,
                                             :scale => slide.scale,
                                             :alt => slide.title,
                                             :region => slide.region}) %>
          <%= link_to slide_img, solr_document_path(:id => slide.object_pid) %>
          <div class="carousel-caption">
            <h5><%= slide.title %></h5>
            <p><small><em><%= slide.institution %></em></small></p>
          </div>
        </div>
    <% end %>

  </div>
  <a class="left carousel-control" href="#slideshow" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#slideshow" data-slide="next">&rsaquo;</a>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#slideshow').carousel({
            interval: 5000
        });
    });
</script>
