<% @page_title = t('blacklight.pages.about.title') + " - " + application_name %>
<h2><%= t('blacklight.pages.about.title') %></h2>
<p><em>Here's the place you go / when there's things you want to know / about this repo!</em></p>

