<% @page_title = t('blacklight.pages.about_dc.title') + " - " + application_name %>
<div class="span9 about_content">
  <h2><%= t('blacklight.pages.about_dc.title') %></h2>

  <p>Digital Commonwealth is a non-profit collaborative organization that provides resources and services to support the creation, management, and dissemination of cultural heritage materials held by Massachusetts libraries, museums, historical societies, and archives. Digital Commonwealth currently has over 130  <%= link_to 'member institutions', 'http://digitalcommonwealth.memberlodge.org/directory', :target => '_blank' %> from across the state.</p>

  <p>This site provides access to thousands of images, documents, and sound recordings that have been digitized by member institutions so that they may be available to researchers, students, and the general public.</p>

  <p>Digital Commonwealth members may apply for free <%= link_to 'digitization services', 'http://blog.bpl.org/dcbpl/', :target => '_blank' %> from the Boston Public Library as part of a grant awarded by the MBLC (Massachusetts Board of Library Commissioners) and funded by the LSTA (Library Services and Technology Act).</p>
</div>