<% @page_title = t('blacklight.pages.about_dc.title') + " - " + application_name %>
<div class="col-md-12 col-lg-9 about_content">
  <h2><%= t('blacklight.pages.about_dc.title') %></h2>

  <p>Digital Commonwealth is a non-profit collaborative organization, founded in 2006,
    that provides resources and services to support the creation, management, and
    dissemination of cultural heritage materials held by Massachusetts libraries,
    museums, historical societies, and archives. Digital Commonwealth currently has
    over 200 <%= link_to 'member institutions',
                         'https://digitalcommonwealth.wildapricot.org/page-1856176',
                         target: '_blank' %> from across the state.</p>

  <p>This site, managed by the Boston Public Library, provides access to thousands of
    images, documents, and sound recordings that have been digitized by member institutions
    so that they may be available to researchers, students, and the general public.</p>

  <p>Massachusetts cultural institutions may sign up for free
    <%= link_to 'digitization services',
                'http://blog.bpl.org/dcbpl/',
                target: '_blank' %> from the Boston Public Library as part of the
    Library for the Commonwealth program (Massachusetts state budget line item 7000-9401).</p>

  <p>For more on how to join Digital Commonwealth, or information about the organization's
    conferences and workshops, please see <%= link_to 'Membership & Programming',
                                                      'https://digitalcommonwealth.wildapricot.org',
                                                      target: '_blank' %>.</p>
</div>