<% @page_title = t('blacklight.pages.about_dc.title') + " - " + application_name %>
<div class="col-md-12 col-lg-9 about_content">
  <h2><%= t('blacklight.pages.about_dc.title') %></h2>

  <p>Digital Commonwealth is a statewide program that provides free digitization services, 
     digital preservation, and online access to cultural heritage materials from 
     Massachusetts institutions. The program is operated by the Boston Public Library as 
     part of its Library for the Commonwealth services. This website brings together 
     digitized materials from hundreds of libraries, museums, historical societies, 
     and archives across the state.</p>

  <p>Established in 2005 and continuously developed since then, Digital Commonwealth 
     serves researchers, students, educators, and the general public by making diverse 
     historical resources freely accessible to all. The collections include photographs, 
     manuscripts, books, audio recordings, maps, postcards, and other historical artifacts 
     from Massachusetts institutions.</p>

  <p>Massachusetts cultural institutions can participate in Digital Commonwealth in two ways:</p>
  <ul>
    <li>Apply for free digitization services from the Boston Public Library. Our team provides 
        consultations and site visits to help assess which collections are best suited for 
        digitization.</li>
    <li>Have your existing digital collections harvested for inclusion in the Digital 
        Commonwealth repository, making them discoverable alongside materials from hundreds of 
        institutions across the state.<li>
  </ul>
  
  <p>For more information about participating, please visit: <a href="https://www.bpl.org/digitization/" target="_blank">https://www.bpl.org/digitization/</a>.</p>
</div>
