<% @page_title = t('blacklight.pages.accessibility.title') + " - " + application_name %>
<div class="col-md-12 col-lg-9 about_content">
  <h1><%= t('blacklight.pages.accessibility.title') %></h1>
  <p>
    Digital Commonwealth is a discovery platform and digital repository for cultural heritage materials from Massachusetts
    institutions operated by the Boston Public Library. We are committed to making digitalcommonwealth.org accessible
    to all users, including people with disabilities, and are actively working to meet the standards set by the
    <%= link_to 'Web Content Accessibility Guidelines (WCAG) 2.1', 'https://www.w3.org/TR/WCAG21/', target: '_blank' %>
    and the requirements of <%= link_to 'Title II of the Americans with Disabilities Act',
                                        'https://www.ada.gov/law-and-regs/regulations/title-ii-2010-regulations/',
                                        target: '_blank' %>.
  </p>
  <p>
    This work is ongoing. If you encounter a barrier or have difficulty accessing content on this site, please contact
    us at <%= mail_to 'accessibility@bpl.org' %>. We welcome your feedback and will do our best to provide information
    in an alternative format upon request. An Accessibility Conformance Report (VPAT) for this site is also available
    upon request.
  </p>
</div>
