<% @page_title = t('blacklight.pages.copyright.title') + " - " + application_name %>
<div class="col-sm-9 about_content">
  <h2><%= t('blacklight.pages.copyright.title') %></h2>

  <h5 class="section_heading">Digital Commonwealth Copyright Statement</h5>

  <p>Digital Commonwealth is responsible solely for presenting the online cultural resources of its member institutions. Members are responsible for the observance of copyrights of the materials in their collections.</p>

  <p>Some of the original materials reproduced on the site may be protected by copyright. It is your obligation to determine and follow all copyright or use restrictions of the material presented here.</p>

  <p>As a condition of participation, contributing partners have agreed that they have the right to duplicate content contained here. Contributing partners are responsible for obtaining copyright clearances and are obligated to secure all necessary permissions to display these materials.</p>

  <p>Digital Commonwealth provides access to copyrighted materials strictly for noncommercial educational and research purposes and places no restrictions on public domain material.</p>

  <p>Digital Commonwealth does not charge permission fees for use of such material and does not grant or deny permission to publish or otherwise distribute material in its collections.</p>

  <h5 class="section_heading">Requesting Reproductions</h5>

  <p>Unless the terms of use are clearly stated with respect to individual items, visitors must seek permission from the copyright owner for all uses that are not allowed by fair use and other provisions of the United States copyright law (Title 17). <strong>Requests for permission to create reproductions of any items on this site should be directed to the contributing institution.</strong></p>

  <h5 class="section_heading">Copyright Holders</h5>

  <p>Digital Commonwealth and its members welcome feedback from any copyright owners who are not properly identified on this site so that the necessary corrections may be made. If you have any additional information about the images or would like to suggest a correction, please <%= link_to 'contact us', feedback_path %>. Be sure to include the title of the item, the contributing institution, and the URL.</p>

</div>
