<% @page_title = t('blacklight.pages.explore.title') + " - " + application_name %>
<div class="span9 explore_content">
  <h2><%= t('blacklight.pages.explore.title') %></h2>

  <ul>
    <li>TK</li>
  </ul>
</div>