<% @page_title = t('blacklight.pages.explore.title') + " - " + application_name %>
<div class="span9 explore_content">
  <h2><%= t('blacklight.pages.explore.title') %></h2>

  <ul class="page_list">
    <li><%= link_to t('blacklight.collections.index.title'), collections_path %></li>
    <li><%= link_to 'Places', places_facet_path %></li>
    <li><%= link_to t('blacklight.institutions.title'), institutions_path %></li>
  </ul>

</div>