<% @page_title = t('blacklight.pages.lesson_plans.title') + " - " + application_name %>
<div class="col-sm-9 about_content">
  <h2><%= t('blacklight.pages.lesson_plans.title') %></h2>

  <p>These lesson plans feature digital collections of Digital Commonwealth members:</p>

  <ul id="lesson_plan_list">
    <li>
      <h4>The Historical and Mathematical Features of Peabody's Municipal Buildings</h4>
      <strong>Created by:</strong> Diane Devine and Sudi Smoller, Higgins Middle School, Peabody, Mass.<br/>
      <strong>Description:</strong> Sudi Smoller, grade 6-8 library media specialist at Higgins Middle School in Peabody, collaborated on a social studies/math unit that incorporates Digital Commonwealth primary sources. The instructional objective is that "students will understand that primary resources are eyewitness accounts of history and that by looking at how ordinary people experienced events they can better understand some of the key points in American history." Students will investigate the historical and mathematical features of the Peabody Fire Station, Peabody City Hall, and the George Peabody House.<br/>
      <%= link_to 'Download (PDF)', 'http://digitalcommonwealth.memberlodge.org/Resources/lessonplans/digicomm_lesson_peabodymathtrail.pdf', :target => '_blank' %>
    </li>
    <li>
      <h4>Picturing Nativism in Antebellum Boston</h4>
      <strong>Created by:</strong> Tia Esposito and the Eighth Grade Teachers, Boston College High School Arrupe Division, Boston, Mass.<br/>
      <strong>Description:</strong> This lesson plan investigates anti-Catholic and anti-immigration sentiments in antebellum Boston. In one of the units, using visual culture and primary sources from the Digital Commonwealth website, students explore the reasons nativism emerged in Boston in the late 19th century and extrapolates to apply the lessons of the past to better understand the attitudes towards immigrants today.<br/>
      <%= link_to 'Download (PDF)', 'http://digitalcommonwealth.memberlodge.org/Resources/lessonplans/digicomm_esposito_lessonplan.pdf', :target => '_blank' %>
    </li>
    <li>
      <h4>A Web Quest of Watertown, Massachusetts</h4>
      <strong>Created by:</strong> Marianne E. Brown, PBTL (Post Baccalaureate Teacher Licensure) student at Framingham State University<br/>
      <strong>Description:</strong> A lesson plan focusing on presentations within Digital Commonwealth from the Watertown Free Public Library. The lesson plan developed for 10th grade students focuses on the creation of a community walk of historical markers in Watertown, Mass.<br/>
      <%= link_to 'Download (PDF)', 'http://digitalcommonwealth.memberlodge.org/Resources/lessonplans/digicomm_lessonplan_brown_watertown.pdf', :target => '_blank' %>
    </li>
  </ul>

</div>