<div id="help" class="hidden">
  <div>
    <div>
      <div>
        <h1>
          How to use the WDL Reader
        </h1>
        <p>
          “Read” mode is designed to be as fast as possible<br>
          “Grid” mode displays many pages at once for quick navigation
        </p>
        <section class="keyboard-controls">
          <h2>
            Keyboard Navigation
          </h2>
          <table>
            <tr>
              <th>
                Go to next page
              </th>
              <td>
                <kbd>Page Down</kbd>, <kbd>spacebar</kbd>, <kbd>j</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Go to previous page
              </th>
              <td>
                <kbd>Page Up</kbd>, <kbd>shift+spacebar</kbd>, <kbd>k</kbd>
              </td>
            </tr>
            <tr class="requires-rotation">
              <th>Rotate Left</th>
              <td>
                <kbd>alt+left arrow</kbd>
              </td>
            </tr>
            <tr class="requires-rotation">
              <th>Rotate Right</th>
              <td>
                <kbd>alt+right arrow</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Switch to grid view
              </th>
              <td>
                <kbd>g</kbd>
              </td>
            </tr>
            <tr class="requires-fullscreen">
              <th>
                Enter fullscreen mode
              </th>
              <td>
                <kbd>f</kbd>
              </td>
            </tr>
            <tr>
              <th>
                Display help
              </th>
              <td>
                <kbd>?</kbd>
              </td>
            </tr>
          </table>
        </section>
        <section class="touch-controls">
          <h2>
            Touch Controls
          </h2>
          <table>
            <tr>
              <th>
                Go to next page
              </th>
              <td>
                Swipe across the screen to the right<br>
                Tap on the right edge of the screen
              </td>
            </tr>
            <tr>
              <th>
                Go to previous page
              </th>
              <td>
                Swipe across the screen to the left<br>
                Tap on the left edge of the screen
              </td>
            </tr>
            <tr>
              <th>
                Switch to grid view
              </th>
              <td>
                Tap “Grid”
              </td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>