<li class="folders_index_list_item">
  <h4>
    <%= link_to folder.title, folder, :class => "folder_title" %>
    <small><%= pluralize(folder.folder_items.length.to_s,'item') %></small>
  </h4>
  <% if current_user %>
      <!--
      <div class="delete_folder">
      <%# link_to content_tag(:i, '',:class => 'icon-remove'),
                  folder,
                  :method => :delete,
                  :data => { :confirm => t('blacklight.folders.delete.confirm') },
                  :title => "delete this folder" %>
      </div>
      -->
  <% end %>
  <% if folder.description %>
      <%= folder.description %>
  <% end %>
</li>