<li>
  <h4><%= link_to folder.title, folder, :class => "folder_title" %>
  <% if current_user %>
        <small><%= link_to "delete", folder, :method => :delete,
                    :data => { :confirm => t('blacklight.folders.delete.confirm') },
                    :title => "delete this folder" %></small>
  <% end %></h4>
  <% if folder.description %>
    <%= folder.description %>
  <% end %>
</li>