<% if query_has_constraints? %>
    <div id="appliedParams" class="constraints-container">
      <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
      <ul id="constraintsLinks" class="inline">
        <li><%=link_to t('blacklight.search.start_over'),
                 root_path,
                 :class => "catalog_startOverLink",
                 :id=>"startOverLink" %>
        </li>
        <% if current_user %>
        <li>
          <%= link_to t('blacklight.saved_searches.save'),
                      save_search_path( session[:history].first ),
                      :method => :put,
                      :class=>'catalog_saveSearchLink' %>
        </li>
        <% end %>
      </ul>
      <%= render_constraints(params) %>

    </div>
<% end %>