<% # container for all documents in index view -%>
<div id="documents">
    <% if params[:view] == "list" %>
      <%= render documents, :as => :document %>
    <% else %>
      <ul class="thumbnails">
        <%= render :partial => "document_grid-view", :collection => documents, :as => :document %>
      </ul>
    <% end %>
</div>