<% # container for all documents in index view -%>
<div id="documents">
    <% if params[:view] == "list" %>
      <%= render documents, :as => :document %>
    <% else %>
      <!-- <div class="row"> -->
        <%= render :partial => "catalog/document_grid-view", :collection => documents, :as => :document %>
      <!-- </div> -->
    <% end %>
</div>