<% # container for series facet -%>

<% if has_facet_values?  %>
      <h5><%= t('blacklight.collections.series.title') %></h5>
        <%= render_facet_partials(['related_item_series_ssim'], :partial => 'facet_limit_series') %>
  <% end %>