<% # main container for facets/limits menu -%>

<% case params[:controller] %>
<% when 'collections' %>
    <% facet_heading = t('blacklight.collections.facets.title') %>
<% when 'institutions' %>
    <% facet_heading = t('blacklight.institutions.facets.title') %>
<% else %>
    <% facet_heading = t('blacklight.search.facets.title') %>
    <%= javascript_include_tag 'commonwealth/expand_facets' %>
<% end %>

<% if has_facet_values?  %>
    <div id="facets" class="facets sidenav">
      <h4 data-toggle="collapse" data-target="#facets-collapse">
        <a class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= facet_heading %>
      </h4>
      <div id="facets-collapse" class="facets-collapse">
        <%= render_facet_partials %>
      </div>
    </div>
<% end %>&nbsp;