<h4><%= t('blacklight.welcome') %></h4>
<p>This repository will house digital collections belonging to Digital Commonwealth members.</p>
<p>(<em>But at the moment it's an early beta version.</em>)</p>
<p>Go to the current <%= link_to 'Digital Commonwealth', 'http://digitalcommonwealth.org' %> site.</p>
