<div class="img_index_container">
  <%# unless customization needed, use generic item index view: %>
  <%= render :partial => 'catalog/_index_partials/default_details',
             :locals => {:document => document, :document_counter => document_counter} %>
</div>
