<div class="row">

  <div id="oai_img_show_container" class="span3">
    <% if document[:exemplary_image_ssi] %>
        <% img_element = image_tag(datastream_disseminator_url(
                                            @document[:exemplary_image_ssi],
                                            'thumbnail300'),
                                    :class => 'img_show',
                                    :alt => document[blacklight_config.index.show_link.to_sym]
        ) %>

    <% else %>
      <% img_element = render_object_icon(document[:type_of_resource_ssim].first,
                                           'img_show') %>
    <% end %>
    <%= link_to(img_element,
                @document[:identifier_uri_ss],
                :target => '_blank',
                :title => t('blacklight.oai_objects.link_to_item')) %>
    <%= render :partial => 'catalog/_show_partials/show_oai_item_link',
               :locals => {:document => @document} %>
  </div>
  <% # metadata display -%>
  <%= render :partial => 'catalog/_show_partials/show_default_metadata', :locals => {:document => @document} %>

  <div id="sidebar" class="span3">
    <% # bookmark/folder/sharing functions -%>
    <%= render_document_sidebar_partial  %>
  </div>

</div>