<div class="row">

  <div class="span9">

    <% if document[:abstract_tsim] %>
          <% document[:abstract_tsim].each do |abstract| %>
              <p><%= abstract %></p>
          <% end %>
    <% end %>

  </div>


  <div id="sidebar" class="span3">

  </div>

</div>