<%# default partial to display solr document fields in catalog show view -%>

<%= render :partial => 'catalog/show_partials/show_default_img', :locals => {:document => @document} %>

<div class="row">
        <%= render :partial => 'catalog/show_partials/show_default_metadata', :locals => {:document => @document} %>

        <% # bookmark/folder/sharing functions -%>
        <%= render_document_sidebar_partial  %>
</div>