<% if document[:exemplary_image_ss] %>
  <%= render :partial => 'catalog/_show_partials/show_default_img', :locals => {:document => @document} %>
<% end %>

<div class="row">

  <% # metadata display -%>
  <%= render :partial => 'catalog/_show_partials/show_default_metadata', :locals => {:document => @document} %>

  <div id="sidebar" class="span3">
    <% # bookmark/folder/sharing functions -%>
    <%= render_document_sidebar_partial  %>
  </div>

</div>