<%# check for search params or :mlt_id %>
<% if has_search_parameters? || params[:mlt_id] %>

    <div id="sidebar" class="col-sm-3">
      <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-sm-9">
      <%= render 'search_results' %>
    </div>

<% else %>

    <%# if no input/search params, render basic_search partial %>
    <%= render :partial => 'catalog/basic_search' %>

<% end %>