<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h1><%= t('blacklight.search.librarian_view.title') %></h1>
</div>
<div class="mods_xml_display">
<% mods_xml_file_path = datastream_disseminator_url(@document[:id], 'descMetadata') %>
<% response = Typhoeus::Request.get(mods_xml_file_path) %>
<%=
    render :text => response.body, :content_type => 'application/xml'
%>
</div>