
.carousel-caption {
  padding: 0 0 10px 10px;

  h4, h5, p {
    color: white;
    line-height: 7px;
  }
}

/* responsive styles */

@media (max-width: 480px) {

  #carousel_wrapper {
    /* display: none; */

    .carousel-caption {
      padding: 1px 0 10px 10px;

      h4, h5, p {
        font-size: 12px;
      }
    }



  }

}


