/* Site-wide style settings/variables for public-facing Digital Commonwealth hydra-head */

$logo_image: 'dc-logo_notag_sm.png';
$logo_image_home: 'dc-logo_tagline_sm.png';

$darker_gray: #666666;
$dark_gray: #A29E9E;
$light_gray: #CACACA;

$bl_link: #0088CC;
$bl_link_hover: #005580;

$well_bg_color: #F5F5F5;

$navbarBorder: #D4D4D4;

$error_text: #b94a48;
$error_bg: #f2dede;
$error_border: #eed3d7;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}
