/* Site-wide style settings/variables for public-facing Digital Commonwealth hydra-head */

$logo_image: 'dc-logo_notag_sm.png';
$logo_image_home: 'dc-logo_tagline_sm.png';

$darker_gray: #666666;
$dark_gray: #A29E9E;
$light_gray: #CACACA;

$well_bg_color: #F5F5F5;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
