/* styles for collection show view */

@import 'cmmnwlth_defaults';

/* collections */

h2.collection-title {
  line-height:25px;
}

h4.collection-provenance {
  font-size: 17.5px;
  color: $dark_gray;
  font-weight: normal;
  line-height: 1;

  a {
    color: $darker_gray;
  }

  a:hover {
    color:$bl_link;
    text-decoration: none;
  }

}

img.collection_img_show {
  float: left;
  width: 43%;
  margin: 0 1.4em 1em 0;
  border: 1px solid $light_gray;
}

#collection_search_tools {
  margin-bottom: 1em;
  width:51%;
  float:right;
}

#collection_search_form {
  padding: 0 1em 0 0;
  float: left;

  input {
    width: 175px;
  }

  .submit-search-text {
    display: none;
  }

}

#collection_desc {

  ol,ul {
    display: inline-block;
  }

}

#series_wrapper {
  float:left;
  clear: left;

  .blacklight-related_item_series_ssim h5 {
    display: none;
  }

  #documents div.grid-view {
    margin-top: 0;

    div.item_index_thumb {
      height: 127px;

      img {
        max-height:127px;
      }

    }

    div.item_index_title {
      font-weight: normal;
    }

  }

}

#facets div.blacklight-related_item_series_ssim {
  display: none;
}

#collection_metadata_wrapper {
  margin-top: 1.5em;
}

#item_metadata h4 {
  padding-left:1em;
}

/* responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  #collection_search_tools {
    width:52%;
  }

  #series_wrapper {

    #documents div.grid-view {

      div.item_index_thumb {
        height: 159px;

        img {
          max-height:159px;
        }

      }

    }

  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  img.collection_img_show {
    width: 100%;
    margin: 0 0 1em 0;
  }

  #collection_search_tools {
    width:97%;
    float:left;
  }

  #series_wrapper {

    #documents div.grid-view {

      div.item_index_thumb {
        height: 95px;

        img {
          max-height:95px;
        }

      }

    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  img.collection_img_show {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }

  #collection_search_tools {
    width:97%;
    float:none;
  }

  #series_wrapper {
    display: none;
  }

  #facets div.blacklight-related_item_series_ssim {
    display: block;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  img.collection_img_show {
    width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }

  #collection_search_tools {
    width:95%;
    float:none;
  }

  #series_wrapper {
    display: none;
  }

  #facets div.blacklight-related_item_series_ssim {
    display: block;
  }

}

