/* Site-wide style settings/variables for public-facing Digital Commonwealth hydra-head */

$darker_gray: #666666;
$dark_gray: #A29E9E;
$light_gray: #CACACA;
$lighter_gray: #F1F1F1;

$bl_link: #428BCA;

@mixin rounded-corners($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}