/* styles for folder views */

@import 'cmmnwlth_defaults';

/* don't use fixed navbar on bookmark/folder pages */

body.blacklight-folders, body.blacklight-bookmarks {
  padding-top: 0;
}

body.blacklight-folders .navbar-fixed-top, body.blacklight-bookmarks .navbar-fixed-top {
  position: relative;
  margin-bottom: 1em;
}

#add_folder {
  float: right;
  margin-top: 5px;
}

#user_folders {

  #folder_actions_wrapper {
    float: right;
  }
  /*
  #create_folder_link{

  }
  */
  h3 small {
    margin-left: 30px;
    vertical-align: middle;
  }

  #user_folder_list {
    padding-top:0px;

    h4 {
      margin:15px 0 2px 0;
    }

    div.folder_status {

      .folder_item_count {
        color: $dark_gray;
        display: inline-block;
        width: 55px;
      }

      div.folder_visibility {
        display:inline;

        i {
          opacity: .7;
        }

        .visibility_private {
          color: $dark_gray;
        }

        .visibility_public {
          color: green;
        }

      }

    }

  }

}

#edit_folder_form {

  label.control-label {
    font-weight: bold;
  }
}

div.folder_show_container {

  h2 {
    margin-bottom:0px;

    #folder_tools {
      float: right;
      margin-top: 5px;
    }

  }


  #folder_description {
    font-size: 16px;
  }

  #empty_folder {
    margin-top:20px;
  }

  #sortAndPerPage {
    margin: 10px 0;
  }

  #folderItemTools {
    display: inline;

    ul.folderItemToolsList
    {
      /* @include rounded-corners(0 0 4px 4px); */
      background-color: $well_bg_color;
      border-color: $well_bg_color;
      margin:0;
      display: inline;

      li
      {
        display:inline-block;
      }

      li form
      {
        display:inline;
      }

    }

  }

  #selected_ {
    margin-bottom: 1px;
  }

}

