@import 'cmmnwlth_defaults';

#footer {
  border-top: 1px solid $light_gray;
  margin-top: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em 0.7em;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  @include rounded-corners(5px);
}

#footer_right {
  text-align: right;
}