@import 'cmmnwlth_defaults';

/*
 The main logo image for the Blacklight instance
*/

.navbar .brand {
  width: 205px;
  background:transparent asset_url($logo_image_home,image) no-repeat top left;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-right:0;
  margin-left: 0;
  margin-right:20px;
  padding-left: 0;
  height: 60px;
}

#header-navbar-fixed-top .navbar-inner {
  height: 5.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* change the logo for the home page */

/* set this in bl/layout css instead
body.blacklight-home {
  padding-top: 8em;
}


body.blacklight-home .navbar .brand {
  background:transparent asset_url($logo_image_home,image) no-repeat top left;
  height: 60px;
}

body.blacklight-home #header-navbar-fixed-top .navbar-inner {
  height: 5.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

*/

#user-util-links {
  font-size: 12px;
  text-align: right;
  height: 42px;
}

#util-links-nologin, #user-nav-btn {
  display: inline-block;
  vertical-align: super;
}

#user-nav-btn {
  vertical-align: top;
  display: inline-block;
}

#user-util-links ul.dropdown-menu {
  text-align: left;
}

#header-search {
  display: inline-block;
  padding: 0.4em 0 0 0.7em;
}

#header-search input {
  padding: 0 0 0 0.2em;
  width: 8em;
}

#header-search .submit-search-text {
  display: none;
}

#header_main_nav {
  float: right;
  margin-bottom: 0;
  padding-top: .2em;
}

.navbar .nav > li > a {
  padding: 10px 0 10px 60px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background-color: inherit;
  box-shadow: none;
  color: #333333;
}

/* styles for expanded nav */

.nav-collapse.in.collapse {
  background-color: #f2f2f2;
  @include rounded-corners(0 0 5px 5px);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid $light_gray;
  border-left: 1px solid $light_gray;
  border-right: 1px solid $light_gray;
  /* float: right; */
  padding-right: .5em;
  top: 4px;
  z-index: 2;
}

.nav-collapse .btn {
  padding: 0 6px;
}

.nav-collapse .nav > li {
  float: left;
}


