@import 'cmmnwlth_defaults';

#header-navbar-fixed-top {
  min-width: 320px;

  .navbar-inner {
    height: 5.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    /* The main logo image for the Blacklight instance */
    .brand {
      width: 205px;
      background:transparent asset_url($logo_image_home) no-repeat top left;
      display: inline-block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      padding-right:0;
      margin-left: 0;
      margin-right:20px;
      padding-left: 0;
      height: 60px;
    }

    #user-util-links {
      font-size: 12px;
      text-align: right;
      height: 42px;

      #util-links-nologin, #user-nav-btn {
        display: inline-block;
        vertical-align: super;
      }

      #user-nav-btn {
        vertical-align: top;
        display: inline-block;
      }

      ul.dropdown-menu {
        text-align: left;
      }

      #header-search {
        display: inline-block;
        padding: 0.4em 0 0 0.7em;

        input {
          padding: 0 0 0 0.2em;
          width: 8em;
        }

        .submit-search-text {
          display: none;
        }

      }

    }

    #nav_collapse_button {
      padding: 7px 8px 7px 5px;

      i {
        display: inline-block;
        position: relative;
        top: 1px;
        -moz-opacity: 0.3;
        opacity: 0.3;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      }

      #icon-bar-wrapper {
        display: inline-block;
      }

    }

    #header_main_nav {
      float: right;
      margin-bottom: 0;
      padding-top: .2em;
    }

    .navbar .nav {
      margin: 0;

      > li > a {
        padding: 10px 60px 10px 0;
      }

      > li.last_nav > a {
        padding: 10px 0;
      }

      > li.dropdown > a.active  {
        background-color: inherit;
        box-shadow: none;
        color: #333333;
      }

      li.dropdown.open > .dropdown-toggle,
      li.dropdown.active > .dropdown-toggle,
      li.dropdown.open.active > .dropdown-toggle {
        background-color: inherit;
      }

      li.dropdown .dropdown-menu {
        margin: 0;
      }
      /* display nav dropdown menus on hover */
      li.dropdown:hover .dropdown-menu {
        display: block;
      }

    }

  }

}


/* styles for expanded nav */

.nav-collapse.in.collapse {
  background-color: #f2f2f2;
  @include rounded-corners(0 0 5px 5px);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid $light_gray;
  border-left: 1px solid $light_gray;
  border-right: 1px solid $light_gray;
  /* float: right; */
  padding-right: .5em;
  top: 4px;
  z-index: 2;
}

.nav-collapse {

  .btn {
    padding: 0 6px;
  }

  .nav > li {
    float: left;
  }

}


/* responsive styles */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #header-navbar-fixed-top {

    .navbar-inner {

      .navbar .nav > li > a {
        padding: 10px 40px 10px 0;
      }

      .navbar .nav > li.last_nav > a {
        padding: 10px 0;
      }

    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #header-navbar-fixed-top {

    .navbar-inner {

      .navbar .nav {

        > li.dropdown > a.active  {
          color: #777777;
        }

        /* don't display nav dropdown menus on hover */
        li.dropdown:hover .dropdown-menu {
          display: none;
        }

      }

    }

  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #header-navbar-fixed-top {

    .navbar-inner {

      #user-util-links {

        #util-links-nologin, #header-search {
          display: block;
        }

        #header-search {
          form.header-search-form {
            float: right;
            margin: 0 0 12px 200px;
          }
        }

      }

      .navbar .nav {
        text-align: right;

        > li, li.last_nav {
          float: none;

          > a {
            padding: 4px 0;
          }

        }

      }

    }

  }

}


