/* styles for home page view */

@import 'cmmnwlth_defaults';

#content_home {
  padding-top:.5em;
}

#hero_search {
  @include rounded-corners(5px);
  background-color: #eeeeee;
  text-align: center;
  padding: 10px 0 25px 0;
  height: 204px;
}

#hero_search_headline {
  width:90%;
  margin: auto;
  text-align: left;
}

#hero_search h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 15px 0 10px 5px;
}

#hero_search_form {
  padding-top:20px;
  display: inline-block;
}

#content_home img.media-object {
  width:100px;
  border: 1px solid $light_gray;
}

.more-info-link {
  text-align: right;
}

/* Large desktop */
@media (min-width: 1200px) {

  #hero_search {
    height: 261px;
  }

  #hero_search h2 {
    font-size: 31.5px;
    line-height: 35px;
    padding: 20px 0 10px 10px;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #hero_search {
    height: 150px;
  }

  #hero_search h2 {
    font-size: 17.5px;
    line-height: 20px;
    padding: 10px 0 0 7px;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #hero_search {
    margin-bottom: 20px;
    height: auto;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #hero_search {
    margin-bottom: 20px;
    height: auto;
  }

}




