/* styles for index views */

@import 'cmmnwlth_defaults';


body.blacklight-catalog-index {

  #main-container {
    padding-top: 115px;
  }

}


#search_mode_tabs {
  li.active a {
    font-weight: bold;
  }
}

#appliedParams {
  padding: 16px 9px;

  #constraintsLinks {
    margin-bottom: 0;

    & > li:first-child {
      padding-left: 4px;
    }

    & > li {
      padding-left: 0px;
      padding-right: 0px;
    }

  }

  .appliedFilter {
    z-index: 1;

    .constraint-value, .remove {
      background-color: #E2EDFE;
    }

    /* need to use background image here rather than CSS 'content'
    /* which doesn't work in iOS */
    .filterName {
      background: asset-url('blacklight/separator.gif') no-repeat right center;
      padding-right:14px;

      &:after {
        content: none;
        padding-left: 2px;
      }

    }

  }

}

h4.suggest {
  font-size: 14px;
}

#sortAndPerPage {
  @include rounded-corners(3px);
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05) inset);
  padding: 9px;
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  margin-bottom: 1px;

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color:#FFFFFF;
    background-color: $dropdown-hover-background;
    background-image: linear-gradient(to bottom, $dropdown-hover-background-gradient-start, $dropdown-hover-background-gradient-end);
    background-repeat: repeat-x;
  }

}

.css-dropdown ul {
  /* make sure dropdowns aren't hidden behind images */
  z-index:1;
}

div.record-padding {
  float: left;
  width: 100%;

  #pagination_links {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

div.item_index_title {
  font-weight: bold;
}

/* grid view */

#documents div.new_row {
  clear: left;
  /* margin-right: 3em;
  margin-left: 1em; */
}

#documents div.grid-view {
  border: none;
  /*float:left;
  width:29%;
  padding: .6em .6em .6em .6em;
  min-height: 200px;*/
  margin-top: 1em;
  margin-bottom: 2em;
  padding:0;

  div.item_index_thumb {
    height: 200px;
    position: relative;
    margin-bottom: .2em;

    img {
      height:auto;
      width:auto;
      max-height:200px;
      max-width:100%;
      border: 1px solid $light_gray;
      position:absolute;
      bottom:0;
      float:left;
    }

  }

  img.collection-icon {
    width: 20px;
    border: none;
  }

  div.item_index_details {
    display:none;
  }

}


/* grid view responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  #documents div.grid-view div.item_index_thumb {
    height: 250px;

    img {
      max-height: 250px;
    }

  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #documents div.grid-view div.item_index_thumb {
    height: 150px;

    img {
      max-height: 150px;
    }

  }

}


/* list view */

#documents div.list-view {
  border-bottom: 1px solid $light_gray;
  margin-bottom: 1em;
  padding-bottom: 1em;

  #selected_ {
    float: left;
    margin: 0 .5em 0 0;
  }

  a.pull-left {
    min-width: 220px;
  }

  div.media img {
    height:auto;
    width:auto;
    max-height:200px;
    max-width:200px;
    border: 1px solid $light_gray;
    bottom:0;

    &.collection-icon {
      width: 20px;
      border: none;
    }

  }

  div.view_all_link {
    float:right;
    font-size: 12px;

    a {
      color: $dark_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }

  }

  div.collection-location {
    a {
      color: $darker_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }
  }

  dl.index_defList {
    padding-top: .5em;

    dt {
      color: $darker_gray;
      width: 80px;
    }

    dd {
      margin-left: 90px;
      color: $darker_gray;
    }

  }

}

#search_tips_list li {
  padding-bottom: 10px;
}


/* responsive styles */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

  #sortAndPerPage {

    .page_links {
      font-size: 12px;
    }

    #sort-dropdown button, #per_page-dropdown button, .view-type-group a  {
      font-size: 12px;
      line-height: 1.5;
      padding: 5px 10px;
    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #sortAndPerPage {

    .page_links {
      font-size: 12px;
    }

    #sort-dropdown button, #per_page-dropdown button, .view-type-group a  {
      font-size: 12px;
      line-height: 1.5;
      padding: 5px 10px;
    }

  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #sortAndPerPage {

    .page_links, .search-widgets {
      float:left !important;
    }

    .view-type-group {
      display: none;
    }

  }

}

