/* styles for index views */

@import 'cmmnwlth_defaults';

#constraintsLinks {
  float: right;
  display: inline;
  padding-top: .3em;
}

.appliedFilter {
  z-index: 1;
}

.catalog_startOverLink {
  float: none;
  padding-top: 0;
}

#per_page-dropdown {
  padding-left: 1em;
}

#sortAndPerPage {
  margin-bottom: 0;
}

.css-dropdown ul {
  /* make sure dropdowns aren't hidden behind images */
  z-index:1;
}

div.item_index_title {
  font-weight: bold;
}

/* grid view */

#documents div.document.grid-view {
  /* clear:none; */
}

#documents div.grid-view {
  border: none;
  /*float:left;
  width:29%;
  padding: .6em .6em .6em .6em;
  min-height: 200px;*/
  margin-top: 1em;
  margin-bottom: 2em;
}

#documents ul.thumbnails .thumbnail {
  padding:0;
}


#documents ul.thumbnails li.new_row {
  clear: left;
  /* margin-right: 3em;
  margin-left: 1em; */
}
/*
#documents div.grid-view.middle {
  margin-right: 0;
}

#documents div.grid-view.last_in_row {
  margin-right: 0;
  margin-left: 3em;
}
*/

#documents div.grid-view div.item_index_thumb {
  height: 200px;
  position: relative;
  margin-bottom: .2em;
}

#documents div.grid-view div.item_index_thumb img {
  height:auto;
  width:auto;
  max-height:200px;
  max-width:100%;
  border: 1px solid $light_gray;;
  position:absolute;
  bottom:0;
  float:left;
}

#documents div.grid-view div.item_index_details {
  display:none;
}

/* grid view responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  #documents div.grid-view div.item_index_thumb {
    height: 250px;
  }

  #documents div.grid-view div.item_index_thumb img {
    max-height: 250px;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #documents div.grid-view div.item_index_thumb {
    height: 150px;
  }

  #documents div.grid-view div.item_index_thumb img {
    max-height: 150px;
  }

}


/* list view */

#documents div.list-view {
  border-bottom: 1px solid $light_gray;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#documents div.list-view #selected_ {
  float: left;
  margin: 0 .5em 0 0;
}

#documents div.list-view a.pull-left {
  min-width: 220px;
}

#documents div.list-view div.media img {
  height:auto;
  width:auto;
  max-height:200px;
  max-width:200px;
  border: 1px solid $light_gray;
  bottom:0;
}

div.collections-list #documents div.list-view a.pull-left {
  min-width: 150px;
}

div.collections-list #documents div.media img {
  max-height:130px;
  max-width:130px;
}

#documents div.collection-location {
  color: $darker_gray;
}

div.collections-list #documents div.item_index_details {
  font-size: 13px;
}

body.blacklight-catalog-institutions a.pull-left {
  display: none;
}


#documents div.list-view dl.index_defList {
  padding-top: .5em;
}

#documents div.list-view dl.index_defList dt {
  color: $darker_gray;
  width: 80px;
}

#documents div.list-view dl.index_defList dd {
  margin-left: 90px;
  color: $darker_gray;
}

