/* styles for index views */

@import 'cmmnwlth_defaults';

#search_mode_tabs {
  li.active a {
    font-weight: bold;
  }
}

#constraintsLinks {
  float: right;
  display: inline;

  #startOverLink {
    float: none;
  }

}

.appliedFilter {
  z-index: 1;
}

h4.suggest {
  font-size: 14px;
}

#per_page-dropdown {
  padding-left: 1em;
}

#sortAndPerPage {
  margin-bottom: 0;
}

.css-dropdown ul {
  /* make sure dropdowns aren't hidden behind images */
  z-index:1;
}

div.item_index_title {
  font-weight: bold;
}

/* grid view */

#documents div.document.grid-view {
  /* clear:none; */
}

#documents div.grid-view {
  border: none;
  /*float:left;
  width:29%;
  padding: .6em .6em .6em .6em;
  min-height: 200px;*/
  margin-top: 1em;
  margin-bottom: 2em;

  div.item_index_thumb {
    height: 200px;
    position: relative;
    margin-bottom: .2em;

    img {
      height:auto;
      width:auto;
      max-height:200px;
      max-width:100%;
      border: 1px solid $light_gray;
      position:absolute;
      bottom:0;
      float:left;
    }

  }

  img.collection-icon {
    width: 20px;
    border: none;
  }

  div.item_index_details {
    display:none;
  }

}

#documents ul.thumbnails .thumbnail {
  padding:0;
}


#documents ul.thumbnails li.new_row {
  clear: left;
  /* margin-right: 3em;
  margin-left: 1em; */
}
/*
#documents div.grid-view.middle {
  margin-right: 0;
}

#documents div.grid-view.last_in_row {
  margin-right: 0;
  margin-left: 3em;
}
*/

/* grid view responsive styles */

/* Large desktop */
@media (min-width: 1200px) {

  #documents div.grid-view div.item_index_thumb {
    height: 250px;

    img {
      max-height: 250px;
    }

  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #documents div.grid-view div.item_index_thumb {
    height: 150px;

    img {
      max-height: 150px;
    }

  }

}


/* list view */

#documents div.list-view {
  border-bottom: 1px solid $light_gray;
  margin-bottom: 1em;
  padding-bottom: 1em;

  #selected_ {
    float: left;
    margin: 0 .5em 0 0;
  }

  a.pull-left {
    min-width: 220px;
  }

  div.media img {
    height:auto;
    width:auto;
    max-height:200px;
    max-width:200px;
    border: 1px solid $light_gray;
    bottom:0;

    &.collection-icon {
      width: 20px;
      border: none;
    }

  }

  div.view_all_link {
    float:right;
    font-size: 12px;

    a {
      color: $dark_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }

  }

  div.collection-location {
    a {
      color: $darker_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }
  }

  dl.index_defList {
    padding-top: .5em;

    dt {
      color: $darker_gray;
      width: 80px;
    }

    dd {
      margin-left: 90px;
      color: $darker_gray;
    }

  }

}

#search_tips_list li {
  padding-bottom: 10px;
}

div.collections-list #documents {

  div.list-view a.pull-left {
    min-width: 150px;
  }

  div.media img {
    max-height:130px;
    max-width:130px;
  }

  div.item_index_details {
    font-size: 13px;
  }

}


body.blacklight-catalog-institutions a.pull-left {
  display: none;
}


