/* styles for institution views */

@import 'cmmnwlth_defaults';

/* institutions index view */

div.institutions-list img.index_thumb {
  display: none;
}

/* institutions show view */

div.blacklight-institution {

  h1 {
    line-height: 25px;
    font-size: 31.5px;
  }

  #institution_location {
    padding-bottom: .7em;
    color: $darker_gray;
    font-size: 16px;
    position: relative;
    top: -5px;
  }

  img.institution_img_show {
    float: left;
    max-width: 25%;
    margin: 0 1.4em 1em 0;
    border: 1px solid $light_gray;
  }

  #institution_search_tools {
    margin-bottom: 1em;
    width:69%;
    float: right;

    #institution_search_form {
      padding: 0 1em 0 0;
      float: left;

      input {
        width: 250px;
      }

      .submit-search-text {
        display: none;
      }

    }

  }

  #inst_collex {

  }

  /* responsive styles */

  /* Large desktop */
  /*
  @media (min-width: 1200px) {

    #institution_search_tools {
      width:52%;
    }

  }
  */
  /* Portrait tablet to landscape and desktop */
  /*
  @media (min-width: 768px) and (max-width: 979px) {

    img.institution_img_show {
      width: 100%;
      margin: 0 0 1em 0;
    }

    #institution_search_tools {
      width:97%;
      float:left;
    }

  }
  */
  /* Landscape phone to portrait tablet */
  /*
  @media (max-width: 767px) {

    img.institution_img_show {
      width: 100%;
      margin: 0 0 1em 0;
    }

    #institution_search_tools {
      width:97%;
      float:left;
    }

  }
  */
  /* Landscape phones and down */
  /*
  @media (max-width: 480px) {

    img.institution_img_show {
      width: 100%;
      margin: 0 0 1em 0;
    }

    #institution_search_tools {
      width:95%;
      float:left;
    }

  }
  */
}







