/* styles for institution views */

@import 'cmmnwlth_defaults';

/* institutions index view (see shared.css for static-navbar) */

div.institutions-list #documents {
  float:left;
  margin-top: 15px;
  width: 100%;

  img.index_thumb {
    display: none;
  }

  a.pull-left {
    display: none;
  }

}


/* institutions show view */

div.blacklight-institution {

  h2 {
    line-height: 25px;
  }

  #institution_geolocation {
    padding-bottom: .7em;
    font-size: 16px;
    position: relative;
    top: -5px;
    color: $dark_gray;

    a {
      color: $darker_gray;
      &:hover {
        color: $bl_link;
        text-decoration: none;
      }
    }

  }

  img.institution_img_show {
    float: left;
    max-width: 25%;
    margin: 0 1.4em 1em 0;
    border: 1px solid $light_gray;
  }

  #institution_search_tools {
    margin-bottom: 1em;
    width:72%;
    float: right;

    #institution_search_form {
      padding: 0 30px 0 0;
      float: left;

      input {
        width: 250px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }

      .submit-search-text {
        display: none;
      }

    }

  }

  #institution_desc {

    ol,ul {
      display: inline-block;
    }

  }


  #institution_collections {
    width: 100%;
    float: left;
    margin-top: 1em;

    #collections_count {
      font-size:14px;
      color:$dark_gray;
      vertical-align: top;
    }

    #documents {
      margin-top: 0;
    }

  }

  /* Portrait tablet to landscape and desktop */

  @media (min-width: 768px) and (max-width: 979px) {

    img.institution_img_show {
      max-width: 35%;
    }

    #institution_search_tools {
      width:96%;
    }

  }

  /* Landscape phone to portrait tablet */

  @media (max-width: 767px) {

    #institution_search_tools {
      width:65%;

      #institution_search_form {
        padding: 0 1em .5em 0;
      }

    }

    #institution_collections {
      float: none;
      margin-top: 2em;
    }

  }

  /* Landscape phones and down */

  @media (max-width: 480px) {

    img.institution_img_show {
      max-width: 35%;
    }

    #institution_search_tools {
      width:97%;

      #institution_search_form {
        padding: 0 1em .5em 0;
      }

    }

    #institution_collections {
      float: none;
      margin-top: 2em;
    }

  }

}







