/* various static-type pages */

@import 'cmmnwlth_defaults';

/* don't use fixed navbar on static pages */

body.blacklight-pages, body.blacklight-feedback {
  padding-top: 0;
}

body.blacklight-pages .navbar-fixed-top, body.blacklight-feedback .navbar-fixed-top {
  position: relative;
  margin-bottom: 1em;
}

div.about_content {

  h5.section_heading {
    padding-top: 10px;
  }

  ul li {
    padding-bottom: 1em;
  }

  #lesson_plan_list {
    padding-top: 5px;
  }

  #partner_list li {
    padding: 20px 0;
  }

}

ul.page_list li {
  padding-bottom: 1em;
}

.breadcrumb {
  padding: 0;
  margin: 0 0 10px;
  font-size: 12px;

  a {
    color: $darker_gray;
  }

}
