/* styles for search history and saved searches views */

@import 'cmmnwlth_defaults';

#searches_content {

  .constraint {
    padding-right: .5em;
  }

  .filterName {
    padding-right: .2em;
  }

}

#search_history_content {

  .search_history .filterName, .search_history .filterSeparator {
    color: inherit;
  }

  td.query {
    width: 70%;
  }

  form {
    margin: 0;
  }

}

