/* styles for show view */

@import 'cmmnwlth_defaults';

/* don't want fixed navbar on show page */

body.blacklight-catalog-show, body.blacklight-collections-show {
  padding-top: 0;
}

body.blacklight-catalog-show .navbar-fixed-top, body.blacklight-collections-show  .navbar-fixed-top {
  position: relative;
  margin-bottom: 1em;
  // don't cover image viewer modal
  z-index: 100;
}

#item_breadcrumb {
  font-size: 13px;
  color: $light_gray;

  a {
    color: $dark_gray;
  }

  a:hover {
    color:$darker_gray;
    text-decoration: none;
  }

}

#img_show_container {
  width:100%;
  text-align: center;
  margin-bottom: 1em;
}

img.img_show {
  border: 1px solid $light_gray;
  width:auto;
  max-width:100%;
}

div#img_viewer_modal {
  position:relative;
}

/* metadata */

#item_metadata {
  float: left;
  width:100%;
  padding: 0 0 1.5em 0;

  h3 {
    padding-left:1em;
  }
}

#item_metadata dl.defList {
  width: 97%;

  dt {
    padding: .2em 0;
  }

  dd {
    padding: .2em 0;
  }
}


/* tools */

.addthis_toolbox {
  padding-bottom: .5em;
}

/* MODS view */

.mods_link_wrapper {
  float: right;
  margin: 1em 1em 0 0;

  a {
    color:$dark_gray;
  }

}

.mods_xml_display pre {
  margin: 10px;
  padding: 5px;
  word-break: normal;
  font-size: 12px;
}
