/* styles for show view */

@import 'cmmnwlth_defaults';

/* don't want fixed navbar on show page */

body.blacklight-catalog-show, body.blacklight-collections-show, body.blacklight-institutions-show {
  padding-top: 0;
}

body.blacklight-catalog-show #header-navbar-fixed-top {
  // don't cover image viewer modal
  z-index: 100;
}

body.blacklight-catalog-show .navbar-fixed-top, body.blacklight-collections-show  .navbar-fixed-top, body.blacklight-institutions-show .navbar-fixed-top {
  position: relative;
  margin-bottom: 1em;
}

div.show-document #previousNextDocument.well {
  margin-bottom: 0;
}

#item_breadcrumb {
  font-size: 13px;
  color: $light_gray;
  padding-bottom: .7em;

  a {
    color: $dark_gray;
  }

  a:hover {
    color:$bl_link;
    text-decoration: none;
  }

  .icon-arrow-right {
    -moz-opacity: 0.17;
    opacity: 0.17;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
  }

  .item-breadcrumb-separator {
    margin: 0 .5em;
  }

}

#multi_img_show_container {

  #thumbnail_list_wrapper {
    padding: 10px;

    #thumbnail_list {
      max-height: 600px;
      min-height: 200px;
      overflow-y: auto;
      margin-bottom: 0px;
      text-align: center;
      -webkit-overflow-scrolling:touch;
      display: block;


      li {
        padding-bottom: 15px;

        a {

          img {
            border: 1px solid $light_gray;
            max-width: 94%;
            max-height:180px;
          }

        }

        a.in_viewer {

          img {
            border: 2px solid $darker_gray;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          }

        }

      }

    }

  }

}

#img_show_container {
  width:100%;
  text-align: center;
  margin-bottom: 1em;

  #page_sequence {
    color: $dark_gray;
    font-size: 12px;
    padding: 7px 5px 0px 5px;
    margin-bottom: 15px;
    text-align: left;

    #page_sequence_pagination {
      display: inline;
      float: right;

      a {
        margin-left: 10px;
      }

    }

  }

  #loading {
    position: relative;
    top: 150px;
  }

  img.img_show {
    border: 1px solid $light_gray;
    width:auto;
    max-width:100%;
  }

  .carousel-control {
    border: 2px solid #FFFFFF;
    top: 48%;
    opacity: 0.15;
    line-height: 24px;
    height: 30px;
    width: 30px;
    font-size:50px;
    left: 5px;

    &.right {
      left: auto;
      right: 5px;
    }

    // Hover/focus state
    &:hover,
    &:focus {
      opacity: 0.4;
    }

  }

}

div#img_viewer_modal {
  position:relative;
}

#thumb_img_show_container {
  margin-bottom: 1em;
  float:right;

  .thumb_img_show {
    border: 1px solid $light_gray;
  }

  #oai_item_link {

    a {
      font-weight: bold;
      color: #222;
    }

    a:hover {
      color: $bl_link;
      text-decoration: none;
    }

  }

}

/* metadata */

#item_metadata {
  float: left;
  width:100%;
  padding: 0 0 1.5em 0;

  h3 {
    padding-left:1em;
  }

  dl.defList {
    width: 97%;

    dt {
      padding: .2em 0;
    }

    dd {
      padding: .2em 0;

      .metadata_breadcrumb {
        color: $dark_gray;
        padding: 0 2px;
      }

    }
  }

}

/* downloads */

#sidebar-downloads {

  li.download_list_item {
    font-size: 12px;
  }

  li.download_info {
    font-size: 12px;
    color: $dark_gray;
  }

}


/* tools */

.addthis_toolbox {
  padding-bottom: .5em;
}

/* MODS view */

.mods_link_wrapper {
  float: right;
  margin: 1em 1em 0 0;

  a {
    color:$dark_gray;
  }

}

.mods_xml_display pre {
  margin: 10px;
  padding: 5px;
  word-break: normal;
  font-size: 12px;
}

/* responsive styles */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  #multi_img_show_container {

    #thumbnail_list_wrapper {

      #thumbnail_list {
        max-height: 400px;
      }

    }

  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #multi_img_pane,#oai_img_show_container,#sidebar {
    float:left;
  }

  #img_show_container {
    min-height: 300px;
  }

  #multi_img_show_container {

    #thumbnail_list_wrapper {
      display: none;
    }

  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #img_show_container {
    min-height: 200px;
  }

}
