/* styles for signin/auth views */

@import 'cmmnwlth_defaults';

#signin_wrapper {
  padding-top:10px;

  #alt_signins {
    padding: 1em 0 2em 0;

    .alt_signin_btn {
      padding-right: 1em;
    }

  }

}

#signup_wrapper {
  padding-top:10px;
  /*
  .form-horizontal {

    .control-label {
      width: 122px;
    }

    .controls {
      margin-left: 150px;
    }

  }
*/
}

#edit_account_wrapper {

  #error_explanation {
    color: $error_text;
    background-color: $error_bg;
    border: 1px solid $error_border;
    @include rounded-corners(4px);
    margin-bottom: 15px;
    padding-top: 10px;

    h2 {
      display:none;
    }
  }


}