<div class="img_index_container">
  <%# use generic item index view %>
  <%= render :partial => 'catalog/_index_partials/default_details', :locals => {:document => document, :counter => counter} %>
</div>
